@font-face {
  font-family: BestTenCRT;
  src: url('/fonts/BestTen-CRT.otf');
  unicode-range: U+3000-9faf;
}
@font-face {
  font-family: Minecraft;
  src: url('/fonts/Minecraft.ttf');
}
@font-face {
  font-family: 'Digital-7';
  src: url('/fonts/digital7.ttf');
}


body {
  font-family: BestTenCRT, Minecraft, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
}
