@use 'vars' as *;

@font-face {
  font-family: BestTenCRT;
  src: url('/fonts/BestTen-CRT.otf');
  unicode-range: U+3000-9faf;
}
@font-face {
  font-family: Minecraft;
  src: url('/fonts/Minecraft.ttf');
}
@font-face {
  font-family: 'Digital-7';
  src: url('/fonts/digital7.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  background: $color-background;
  color: $color-text;
  font-family:
    BestTenCRT, Minecraft, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

input {
  background-color: $color-background;
}

.em {
  height: 1em;
}

canvas {
  width: 100dvw;
  height: 100dvh;
  image-rendering: pixelated;
}

/* stylelint-disable-next-line selector-max-id */
.ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}

.ui .connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ui .print-values {
  position: absolute;
  top: 0;
  right: 0;
}

.ui > *:not(.visible) {
  display: none;
}
