@use 'vars' as *;

@font-face {
  font-family: BestTenCRT;
  src: url('/fonts/BestTen-CRT.otf');
  unicode-range: U+3000-9faf;
}
@font-face {
  font-family: Minecraft;
  src: url('/fonts/Minecraft.ttf');
}
@font-face {
  font-family: 'Digital-7';
  src: url('/fonts/digital7.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  background: $color-background;
  color: $color-text;
  font-family:
    BestTenCRT, Minecraft, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
}

/* stylelint-disable-next-line selector-max-id */
#root {
  height: 100dvh;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.em {
  height: 1em;
}

canvas {
  width: 100dvw;
  height: 100dvh;
}

/* stylelint-disable-next-line selector-max-id */
#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvh;
  height: 100dvh;
}
